# macOS
.DS_Store
.AppleDouble
.LSOverride

# Xcode user-specific files
xcuserdata/
*.xcuserstate

# Xcode build artifacts
build/
DerivedData/
*.moved-aside
*.ipa
*.dSYM.zip
*.dSYM

# Xcode automatic backup
*.xccheckout
*.xcscmblueprint

# Swift Package Manager
.build/
.swiftpm/
Package.resolved

# CocoaPods (if used)
Pods/

# Carthage (if used)
Carthage/Build/
Carthage/Checkouts/

# Tuist (if used)
Derived/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

# Archives & export
*.xcarchive
